@import '../global/variables';

// Animated Counter
.animated-number {
  overflow: hidden;
  .numbers {
    height: 40px;
    &.tickUp {
      animation: tickUp 150ms infinite;
    }
    &.tickDown {
      animation: tickDown 150ms infinite;
    }
  }
  .number {
    height: 40px;
    line-height: 40px;
    transform: translateY(-100%);
  }
}

@keyframes tickUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes tickDown {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
