#navbar {
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  .uk-navbar-container {
    height: $navbar-height;
    padding: $navbar-padding;
    background: #fff;
  }
  ul {
    height: 100%;
    position: relative;
  }
  .account {
    padding-bottom: calc(40px + 1em);
  }
}
