@import '../global/variables';

#navbar {
  z-index: 100;
  .uk-navbar-container {
    height: $navbar-height;
    padding: $navbar-padding;
    background: $brand-gradient;
  }
  ul {
    height: 100%;
    position: relative;
  }
  .account {
    padding-bottom: calc(40px + 1em);
  }
}
