.review {
  margin: auto;
  max-width: 600px;
  background: white;
  .image img {
    border-radius: 2px;

  }
  .publish-date {
    font-size: 0.75rem;
  }
  &.beer {
    box-shadow: 0 0 4px transparentize(lighten($beerscolour, 10%), 0.8);
    hr {
      border-color: transparentize(darken($beerscolour, 10%), 0.8);
      box-shadow: 0 0 4px transparentize(lighten($beerscolour, 10%), 0.8);
    }
    .uk-card-title {
      color: $beerscolour;
      text-shadow: 0 0 4px transparentize($beerscolour, 0.8);
    }
    .publish-date {
      color: lighten($beerscolour, 20%);
      text-shadow: 0 0 4px transparentize(lighten($beerscolour, 10%), 0.8);
    }
  }

  &.footy {
    box-shadow: 0 0 4px transparentize(lighten($footycolour, 10%), 0.8);
    hr {
      border-color: transparentize(darken($footycolour, 10%), 0.8);
      box-shadow: 0 0 4px transparentize(lighten($footycolour, 10%), 0.8);
    }
    .uk-card-title {
      color: $footycolour;
      text-shadow: 0 0 4px transparentize($footycolour, 0.8);
    }
    .publish-date {
      color: lighten($footycolour, 20%);
      text-shadow: 0 0 4px transparentize(lighten($footycolour, 10%), 0.8);
    }
  }
}


