.review {
  margin: auto;
  max-width: 600px;
  background: white;
  .image img {
    border-radius: $border-radius;
  }
  .uk-dropdown {
    font-weight: normal;
  }
  &.beer {
    > h1 {
      color: $beerscolour;
    }
    > p {
      color: lighten($beerscolour, 20%);
    }
    hr {
      border-color: transparentize(darken($beerscolour, 10%), 0.8);
      @include glow-box($beerscolour);
    }
    .uk-card-title {
      color: $beerscolour;
      @include glow-text($beerscolour);
    }
    .icons a {
      color: $beerscolour;
    }
    .icons a span svg, .icons a svg, .icons button svg {
      cursor: pointer;
      color: lighten($beerscolour, 20%);
      fill: lighten($beerscolour, 20%);
      @include glow-icon($beerscolour);
    }
    .selected {
      color: white !important;
      background-color: $beerscolour;
    }
  }

  &.footy {
    > h1 {
      color: $footycolour;
    }
    > p {
      color: lighten($footycolour, 20%);
    }
    hr {
      border-color: transparentize(darken($footycolour, 10%), 0.8);
      @include glow-box($footycolour);
    }
    .uk-card-title {
      color: $footycolour;
      @include glow-text($footycolour);
    }
    .icons a {
      color: $footycolour;
    }
    .icons a span svg, .icons a svg, .icons button svg {
      cursor: pointer;
      color: lighten($footycolour, 20%);
      fill: lighten($footycolour, 20%);
      @include glow-icon($footycolour);
    }
    .selected {
      color: white !important;
      background-color: $footycolour;
    }
  }
}


