.user-card {
  background-color: $background-default-background;
  margin: auto;
  max-width: 600px;
  .uk-card-title {
    @extend .brandgradient-anim;
    @extend .text;
    @extend .small;
    @extend .fast;
  }
  hr {
    width: 100%;
  }
}
