.user-card {
  background-color: $background-default-background;
  margin: auto;
  max-width: 600px;
  .uk-card-title, .uk-card-title a {
    color: $beerscolour;
    &:hover {
      text-decoration: none;
    }
  }
  &.admin .uk-card-title {
    @extend .brandgradient-anim;
    @extend .text;
    @extend .small;
    @extend .fast;
  }
  hr {
    width: 100%;
  }
}
