//@import '../global/main';
@import '../global/variables';

#Beer {
  background-color: $beerscolour-alpha;
  #navbar.uk-navbar-sticky {
    background: $beerscolour;
  }
  .header {
    background: linear-gradient($beerscolour 0%, $beerscolour $navbar-height, rgba(256,256,256,0) 100%);
  }
}
