#Home {
  .header-content h1, .header-content a {
    color: $footycolour;
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0 4px transparentize(lighten($footycolour, 10%), 0.8);
  }
}
