// Global Modules
@import './uikit';
@import './navbar';

// Global Other
html, body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background: linear-gradient(white 0%, rgba(256,256,256,0) 100%);
  width: 100%;
  height: $header-height;
  h1 {
    color: $grey;
    font-weight: bold;
  }
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  svg {
    height: 100%;
    animation: pulse 10s ease infinite;
  }
}

#__nuxt, #__layout, .main-page, body {
  min-height: 100vh;
}

@keyframes pulse {
  50% {
    fill-opacity: 75%;
  }
}
