// Global Modules
@import './uikit';

// Modules
@import '../modules/animated-counter';
@import '../modules/navbar';
@import '../modules/review';
@import '../modules/svg-background';

// Pages
@import '../pages/about';
@import '../pages/account';
@import '../pages/home';


// Global Other
html, body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100vh;
  color: $grey;
  word-break: break-word;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
.content {
  background: $brand-gradient-alpha;
  min-height: 100vh;
  padding-top: $navbar-height;
}
.header {
  width: 100%;
  height: $header-height;
  h1 {
    color: $grey;
    font-weight: bold;
  }
}

#__nuxt, #__layout, .main-page, body {
  min-height: 100vh;
}

// Page Transitions
.page-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}
.page-leave-active {
  opacity: 0;
  transition: opacity 250ms;
}
.page-enter {
  opacity: 0;
}

// Misc
.uk-transparent {
  background-color: transparent;
}

.uk-opaque {
  opacity: 0.9 !important;
}
