// Global Modules
@import './uikit';

// Modules
@import '../modules/animated-counter';
@import '../modules/navbar';
@import '../modules/review';
@import '../modules/svg-background';

// Pages
@import '../pages/about';
@import '../pages/account';
@import '../pages/home';


// Global Other
html, body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: 100vh;
  color: $grey;
  word-break: break-word;
  overflow-x: hidden;
}

#__nuxt, #__layout, .main-page {
  min-height: 100vh;
}
.main-page {
  @extend .brandgradient-anim;
  @extend .reverse;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
.content {
  min-height: 100vh;
  padding-top: $navbar-height;
}
.header {
  background: #fff;
  color: $footycolour;
  width: 100%;
  min-height: $header-height;
  border-radius: 0;
  @extend .uk-padding;
  box-shadow: 0 0 4px rgba(0,0,0,0.08);
  h1 {
    font-size: 3rem;
    color: $footycolour;
    @extend .brandgradient-anim;
    @extend .opaque;
    @extend .text;
    @extend .fast;
    font-weight: bold;
  }
}
@include for-tablet {
  .header {
    margin: auto;
    max-width: 600px;
    border-radius: 0 0 2px 2px;
  }
}
// Gradient Animation
.brandgradient-anim {
  background: $brand-gradient-alpha repeat-y;
  background-size: 100% 3000px;
  animation: gradient-animation 15s linear infinite;
  &.opaque {
    background: $brand-gradient repeat-y;
    background-size: 100% 3000px;
  }
  &.text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.reverse {
    animation: gradient-animation 30s linear infinite reverse;
  }
  &.fast {
    animation-duration: 5s;
  }
}

@keyframes gradient-animation {
  from { background-position: 50% 0; }
  to { background-position: 50% 3000px; }
}

// Page Transitions
.page-enter-active {
  opacity: 1;
  transition: opacity 250ms linear;
}
.page-leave-active {
  opacity: 0;
  transition: opacity 250ms;
}
.page-enter {
  opacity: 0;
}

.slide-left-enter-active {
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
}
.slide-left-leave-active {
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}
.slide-left-enter {
  transform: translateX(100%);
}

.slide-right-enter-active {
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
}
.slide-right-leave-active {
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.slide-right-enter {
  transform: translateX(-100%);
}


// Misc
.uk-transparent {
  background-color: transparent;
}

.uk-opaque {
  opacity: 0.9 !important;
}
