// Buttons
@mixin hook-button() {
  &:not([disabled='disabled']) {
    @extend .uk-box-shadow-hover-small;
  }
  border-radius: 2px;
  transition: box-shadow 100ms, background-color 100ms;

  &.upvoted {
    @extend .uk-button-primary;
  }

  &.downvoted {
    @extend .uk-button-danger;
  }

  &:active:not([disabled='disabled']) {
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.08) !important;
  }
}
@mixin hook-button-default() {
  box-shadow: 0 0 4px transparentize(lighten($button-default-background, 10%), 0.8);
}
@mixin hook-button-danger() {
  box-shadow: 0 0 4px transparentize(lighten($button-danger-background, 10%), 0.8);
}
@mixin hook-button-primary() {
  box-shadow: 0 0 4px transparentize(lighten($button-primary-background, 10%), 0.8);
}

// Cards
@mixin hook-card() {
  @extend .uk-box-shadow-small;
  border-radius: 2px;
  .uk-card-body {
    border-radius: 2px;
  }
  .uk-card-footer {
    border-radius: 2px;
  }
}

// Modals
@mixin hook-modal() {
  .uk-modal-title {
    color: $button-primary-background;
    text-shadow: 0 0 4px transparentize(lighten($button-primary-background, 10%), 0.8);
  }
}

// Links
@mixin hook-link-text() {
  transition: text-shadow 100ms, color 100ms;
  text-shadow: 0 0 0 rgba(0,0,0,0.15);
  text-decoration: none;
  &:hover:not([disabled='disabled']), &:focus:not([disabled='disabled']) {
    text-shadow: 2px 3px 2px rgba(0,0,0,0.04);
  }
  &:active:not([disabled='disabled']) {
    text-shadow: 0 0 0 rgba(0,0,0,0.04);
  }
}

// Nav
@mixin hook-nav-primary() {
  > li > a {
    transition: text-shadow 100ms, color 100ms;
    &:hover:not([disabled='disabled']), &:focus:not([disabled='disabled']) {
      text-shadow: 2px 3px 2px rgba(0,0,0,0.04);
    }
    &:active:not([disabled='disabled']) {
      text-shadow: 0 0 0 rgba(0,0,0,0.04);
    }
  }
}
@mixin hook-navbar-nav-item() {
  color: $grey;
  transition: text-shadow 100ms, color 100ms;
  min-height: 100%;
  &:hover:not([disabled='disabled']), &:focus:not([disabled='disabled']) {
    text-shadow: 2px 3px 2px rgba(0,0,0,0.04);
  }
  &:active:not([disabled='disabled']) {
    text-shadow: 0 0 0 rgba(0,0,0,0.04);
  }
}
@mixin hook-navbar-nav-item-active() {
  color: $grey;
  font-weight: bold;
}

// Off canvas
@mixin hook-offcanvas-bar() {
  @extend .uk-hidden\@l
}

// Breakpoints
$break-xsmall: 480px;
$break-small: 640px;
$break-medium: 960px;
$break-large: 1200px;
$break-xlarge: 1600px;

@mixin for-phone {
  @media (min-width: $break-xsmall) { @content; }
}

@mixin for-tablet {
  @media (min-width: $break-small) { @content; }
}

@mixin for-laptop {
  @media (min-width: $break-medium) { @content; }
}

@mixin for-desktop {
  @media (min-width: $break-large) { @content; }
}

@mixin for-desktop-large {
  @media (min-width: $break-xlarge) { @content; }
}
