// Buttons
@mixin hook-button() {
  border-radius: $border-radius;
  transition: box-shadow 100ms, background-color 100ms;
  &:active:not([disabled='disabled']) {
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.08) !important;
  }
}
@mixin hook-button-default() {
  color: $grey;
  @include glow-box($button-default-background);
}
@mixin hook-button-danger() {
  @include glow-box($button-danger-background);
}
@mixin hook-button-primary() {
  @include glow-box($button-primary-background);
}
@mixin hook-button-secondary() {
  @include glow-box($button-secondary-background);
}

// Cards
@mixin hook-card() {
  @extend .uk-box-shadow-small;
  border-radius: $border-radius;
  overflow-wrap: break-word;
  .uk-card-title {
    font-size: 1.8rem;
  }
  .uk-card-body {
    border-radius: $border-radius;
  }
  .uk-card-footer {
    border-radius: $border-radius;
  }
}
@mixin hook-card-default() {
  color: $grey;
}

// Dropdowns
@mixin hook-dropdown() {
  background-color: $background-default-background;
  border-radius: $border-radius;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

// Modals
@mixin hook-modal() {
  .uk-modal-dialog {
    border-radius: $border-radius;
    background-color: transparent;
  }
  .uk-modal-header {
    background-color: $background-default-background;
    border-radius: $border-radius $border-radius 0 0;
  }
  .uk-modal-title {
    color: $button-primary-background;
    @include glow-text($button-primary-background);
  }
  .uk-modal-body {
    background-color: $background-default-background;
  }
  .uk-modal-footer {
    background-color: $background-default-background;
    border-radius: 0 0 $border-radius $border-radius;
  }
}

// Links
@mixin hook-icon-link() {
  &.icon-red {
    color: $button-danger-background;
    @include glow-icon($button-danger-background);
  }
}

// Nav
@mixin hook-navbar-nav-item() {
  min-height: 100%;
}
@mixin hook-navbar-nav-item-active() {
  font-weight: bold;
  @extend .brandgradient-anim;
  @extend .opaque;
  @extend .reverse;
  @extend .text;
  @extend .fast;
}

// Lightbox
@mixin hook-lightbox-toolbar() {
  display: none;
}

// Glow Effect
@mixin glow-text($color) {
  text-shadow: 0 0 8px transparentize(lighten($color, 10%), 0.8);
}
@mixin glow-box($color) {
  box-shadow: 0 0 8px transparentize(lighten($color, 10%), 0.7);
}
@mixin glow-icon($color) {
  filter: drop-shadow(0 0 8px transparentize(lighten($color, 10%), 0.7));
}

// Breakpoints
$break-xsmall: 480px;
$break-small: 640px;
$break-medium: 960px;
$break-large: 1200px;
$break-xlarge: 1600px;

@mixin for-phone {
  @media (min-width: $break-xsmall) { @content; }
}

@mixin for-tablet {
  @media (min-width: $break-small) { @content; }
}

@mixin for-laptop {
  @media (min-width: $break-medium) { @content; }
}

@mixin for-desktop {
  @media (min-width: $break-large) { @content; }
}

@mixin for-desktop-large {
  @media (min-width: $break-xlarge) { @content; }
}
