#navbar {
  height: $navbar-height;
  background-color: #fff;
  padding: $navbar-padding;
  z-index: 100;
  transition: box-shadow 200ms ease;
  ul {
    height: 100%;
    position: relative;
  }
  .nav-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
