#navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  background-color: #fff;
  z-index: 100;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: $navbar-padding;
  ul {
    height: 100%;
    position: relative;
  }
  .nav-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
