// SCSS Helpers
$images-dir: '../../images/';

// Animation
$animation-duration: 1000ms;

// Colours
$brand-purple: #7b47bb;
$beerscolour: rgb(255, 131, 58);
$beerscolour-alpha: rgba(255, 131, 58, 0.95);
$footycolour: rgb(255, 181, 55);
$footycolour-alpha: rgba(255, 181, 55, 0.95);
$background-dark: #1f1f1f;
$grey: #343434;
$grey-light: #e7e7e7;
$transparent-white: rgba(255,255,255,0.95);

$brand-gradient: linear-gradient(to top, $beerscolour-alpha 0%, $beerscolour-alpha 25%, $footycolour-alpha 75%, $footycolour-alpha 100%);

// Utility
$border-radius: 2px;

// Nav
$navbar-height: 60px;
$navbar-padding: 10px;

// Header
$header-height: 100vh;

// Uikit variable overrides
$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: none;
$global-secondary-background: $grey;
$global-primary-background: $brand-purple;
