// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables.scss";
@import "../../node_modules/uikit/src/scss/mixins.scss";

// 3. Your custom mixin overwrites.
//@mixin hook-card() { color: #fff; }

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit.scss";
